*{
    margin: 0;
    padding: 0;
}

.Main-Layout-section{
    position: relative;
}

aside{
    width:8%;
    height: 100vh;
    box-shadow: -1px 0 4px 0 #090909;
    position: fixed;
    left: 0%;
    top: 0%;
    Display: flex;
    justify-content: center;
    align-items: center;
    background: #2d5ba0;

}

.Outlet-Main{
    width: 92%;
    margin-left: 8%;
    margin-bottom: 80px;

}

header{
    
    height: 60px;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, .2);
    Display: flex;
    justify-content: center;
    align-items: center;
    background: #2d5ba0;
    border-left: 1px solid #fff
}

table ,td,th{
    border:1px solid grey !important;
}
.sm-Input{
    width: 100% !important;
}
.custom-container{
    padding: 0px 10px;
}
